<h1> Make a reservation</p>

  <%= form_for  :post, url: restaurant_seating_reservations_path  do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :party_size %>
    <%= f.text_field :party_size %>
  </p>
    <%= f.submit %>
  <% end %>

  <a href= <%= restaurant_path(@restaurant) %> ><button type="button" name="button">Cancel</button>
  </a>
