<p><%= restaurant.name %></p>
<p><%= restaurant.cuisine_style %></p>
<p><%= restaurant.price_range%></p>
<p><%= restaurant.email%></p>
<p><%= restaurant.phone_number%></p>
<p><%= restaurant.address%></p>
<p><%= restaurant.capacity%></p>
