<div class="wrapper">
  <%= image_tag "http://lorempixel.com/200/200/food/", alt: "#{@restaurant.name} image", class: "restaurant-image" %>

  <div class="summary-and-reservations">
    <%= render "display", restaurant: @restaurant %>


    <div class="reservations-box">
      <%= form_for [@restaurant, @restaurant.seatings.build] do |f| %>
      <p>
        <%= f.label :date %>
        <%= f.text_field :date, id: "datepicker" %>
      </p>
        <%= f.submit %>
      <% end %>

    </div>
  </div>

  <div class="menu-box">
    <h2>Menu</h2>
    <div class="menu-section">
      <h3>Appetizers</h3>
      <ul>
        <li>nachos</li>
        <li>chips n guac</li>
        <li>idk</li>
        <li>idk2</li>
        <li>idk3</li>
      </ul>
    </div>
    <div class="menu-section">
      <h3>Entrees</h3>
      <ul>
        <li>tacos</li>
        <li>burritos</li>
        <li>idk1</li>
        <li>idk2</li>
        <li>idk3</li>
      </ul>
    </div>
  </div>

  <div class="info-box">
    <div class="contact-info">
      <p><%= @restaurant.email   %></p>
      <p><%= @restaurant.phone_number %></p>
      <p><%= @restaurant.address %></p>
    </div>


    <%= image_tag "http://maps.google.com/maps/api/staticmap?center=43.6479182,-79.3855352&zoom=16&size=200x200&maptype=roadmap&sensor=false&language=&markers=color:red|label:none|43.6479182,-79.3855352", alt: "#{@restaurant.name} location image", class:"map" %>
  </div>

  <div class="footer">
    <%= link_to 'Edit', edit_restaurant_path %>
    <br>
    <%= link_to 'Back to index', restaurants_path %>
  </div>

</div>
