<!DOCTYPE html>
<html>
<head>

  <title>Seatyourself</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker({
      showButtonPanel: true
    });
  } );

  </script>
  <%= csrf_meta_tags %>
</head>
<body>



  <header>
    <nav>
      <navbar>
        <a href="#">Restaurant Listings</a>
        <a href="#">Log In</a>
        <a href="#">Sign Up</a>
        <a href="#">Log Out</a>
      </navbar>
    </nav>
  </header>

  <main>
    <% if  flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>

    <%= yield %>
  </main>

</body>
</html>
